


.basiccontent{
  padding: 0rem;
  background: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%,  rgb(35 132 164 / 54%) 91.1%);    
  border-radius: 0px 10px 10px 0px;
  height: calc(100vh);
  overflow: auto;
  overflow-x: hidden;
}
.sidebar-open .bodycontent {
  padding-right: 0;
}

.leftcontent {
  display: flex;
  flex: 1;
  /* margin-top: 1.5rem; */
  padding:1.5rem 2.1rem 1.5rem 1.5rem;
}
.header{
    height: 70px;
    background-color: #FFF;
}
.loopdata{
    display: flex;
    flex-direction: column;
}
.pheader{
  display: flex;
  gap: 37rem;
}
 .h_content{
  display: flex; 
  justify-content: center;
}

/* .data{
height: calc(100vh - 15px);
overflow: scroll;   
} */
.quiz-content{
  height: calc(70vh - 24px);
  overflow-x: overlay;
  margin: 3rem;


}


::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
  .question {
    display: flex;
    justify-content: left;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 10px 10px 10px;
    color: #dfdfdf;
    width: max-content;
    font-weight: bold;
  }
  .typing-text{
    background-color: #f8f9fa;
    padding: 15px 15px 10px 15px;
    border-radius: 6px;
    color: #131313;
    width: 100%;
    margin-top: 1rem;
    height: auto;
    overflow: auto;
    line-height: 2.2;
    font-size: 16px;
    max-height: calc(40vh - 15px);

  }
 
  .quizhead{
    display: grid;
    grid-template-columns: auto auto auto;
    color: #fff;
  }
  .attendedanswer{
    display: flex;
    justify-content: right;
    color: white;
  }
  .typing-text p {
    display: inline-block;
    white-space: inherit;
    word-wrap: break-word;
    overflow: hidden;
    margin: 0 auto;
   
    
  }
  #myVideo{
    width:auto;
    height:auto;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 19%) 7px 7px 5px;
  }
  .video{
    width: 80%;
    height: 100%;

  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    100% { border-right-width: 0; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000000 }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 5;
    }
  }
  .questions-container {
    display: grid;
    grid-template-columns: auto ;
    gap:20px;
    background: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%,  rgb(35 132 164 / 93%) 91.1%);    
    padding: 1rem;
    height: 100vh
    
  }
  
  .questionn {
    padding: 33px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 19px;
  }
   
  .question-number {
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  .question-text {
    font-size: 1.2rem;
  }
  
  :host ::ng-deep  .p-dialog{
    width: 50vw;
    max-height: 100%;
  }
  hr{
    color: #fff;
  }
  .showanswer{
    display: flex; 
    justify-content: space-between;
    height: 65px;
  }
  .downloadicon{
    width: 10%;
  }
  .fa-download{
    cursor: pointer; 
    display: flex; 
    justify-content: center;
  }
  .nextprevbuttons{
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 2rem; 
    width: 100%;
  }
  .nextprevbuttons .prev{
      border: none;
      background-color: rgb(16 94 165);
      width: 75px;
      height: 35px;
  }
  .nextprevbuttons .next{
      border: none;
      background-color: rgb(16 94 165);
      width: 65px;
      height: 35px;
  }
  .contentstopic a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .contentstopic a{
    color: #000;
  }
  .maintopiccontainer {
    width: 20%;
      height: 10%;
      font-size: 12px;
      background-color: #e5e5e5de;
      /* padding: 1rem; */
      line-height: 2;
      border-radius: 6px;  
    }
    :host ::ng-deep .practice .p-dialog {
      width: 30vw;
    }
    :host ::ng-deep .practice_accordion .p-accordion p-accordiontab .p-accordion-tab {

      margin-top: 1rem;
      width: 90%;
      height: 231px;    
    }
  @media only screen and (max-width: 768px) {
    .maintopiccontainer {
      width: 100%;
      padding: 1rem;
      margin-top: 1rem;
      }
    .nextprevbuttons{
      
      margin-top: 10px; 
    }
    .question {
      font-size: 13px;
      font-weight: 400;
      width: auto;
    }
    .questions-container {
      margin: 1rem 0rem 0rem 0rem;
      padding: 1rem;
    }
    .question-number{
      font-size: 13px;
    }
    .question-text{
      font-size: 13px;
    }
    .questionn {
      font-size: 12px;
      padding: 20px;
      width: 100%;
    }
    .btn-primary{
      font-size: 13px;
    }
    .answer {
      width: 100% !important;
    }
    .leftcontent{
      width: 100%;
      padding: 0rem;
      margin: 0px;
      flex-wrap: wrap;
    }
    .basiccontent{
      margin: 0rem;
      padding: 0rem;
    }
    

    
    .typing-text p {
      font-size: 12px;
    }
    
    .video {
      justify-content: center;
      width: auto;   
    }
    
    .bodycontent{
      display: flex;
      gap: 5px;
      flex-direction: column;
      padding: 25px 0px 0px 0px !important;
    }
    
    /* #myVideo {
      width: 100%;
      height: 170px;
    } */
    :host ::ng-deep  .p-dialog{
      width: 100vw;
    }
    :host ::ng-deep .p-dialog-right .p-dialog{
      width: 100vw !important;
    }
    .quiz-content{
      margin: 0rem;
    }
    :host ::ng-deep .practice .p-dialog {
      width: 100%;
    }
   
  }
  .notestextarea{
    display: flex;
  }
  .notestitle{
    font-weight: bold; 
    border: none;
  }
  .textarea{
    margin-top: 10px;
    width: max-content; 
    margin-bottom: 10px;
  }
  .saverefresh{
    display: flex; 
    gap: 20px;
    margin-top: 1rem ;
  }
  .fa-refresh{
    margin-top: 10px; 
    cursor: pointer;
  }
  :host ::ng-deep .p-terminal{
    background:  rgb(35, 66, 164);    
    color :#fff;
    border-radius: 10px;
  }
  :host ::ng-deep .p-dialog-right .p-dialog{
    width: 30vw;
    margin: 0px;
    height: 100vh;
  }
  :host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title{
    font-size: 16px;
    padding: 1rem;
  }
  :host ::ng-deep .quizd .p-dialog-content{
    padding: 0px;
  }
  :host ::ng-deep .submitdialog .p-dialog-content{
    height: 50vw;
    width: 50vw;
    padding: 2rem;
  }
  .buttons{
    border: none;
    background-color: rgb(16 94 165);
    color: #fff;
  }
  /* .showquiz{
    background: aliceblue; 
    padding: 10px; 
    margin-top: 1rem;
  } */
  .heading4{
    display: flex; 
    justify-content: center; 
    color: #fff; 
    font-style: italic;
  }

  :host ::ng-deep .p-dialog .p-dialog-header{
    padding: 0.5rem;
  }
  :host ::ng-deep .speeddial-linear-demo .p-speeddial-direction-up {
    left: calc(50% - 2rem);
    bottom: 0;
  }
  :host ::ng-deep .speeddial-linear-demo .p-speeddial-direction-down {
    left: calc(50% - 2rem);
    top: 0;
  }
  :host ::ng-deep .speeddial-linear-demo .p-speeddial-direction-left {
    right: 0;
    top: calc(50% - 2rem);
  }
  :host ::ng-deep .speeddial-linear-demo .p-speeddial-direction-right {
    left: 0;
    top: calc(50% - 2rem);
  }
  :host ::ng-deep .speeddial-circle-demo .p-speeddial-circle {
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    width: 1rem;
    height: 1rem;
border-radius: 50%;
  }
  :host ::ng-deep .speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-up {
    left: calc(50% - 2rem);
    bottom: 0;
  }
  :host ::ng-deep .speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-down {
    left: calc(50% - 2rem);
    top: 0;
  }
  :host ::ng-deep .speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-left {
    right: 0;
    top: calc(50% - 2rem);
  }
  :host ::ng-deep .speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-right {
    left: 0;
    top: calc(50% - 2rem);
  }
  :host ::ng-deep .speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-up-left {
    right: 0;
    bottom: 0;
  }
  :host ::ng-deep .speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-up-right {
    left: 0;
    bottom: 0;
  }
  :host ::ng-deep .speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-down-left {
    right: 0;
    top: 0;
  }
  :host ::ng-deep .speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-down-right {
    left: 0;
    top: 0;
  }
  :host ::ng-deep .speeddial-tooltip-demo .p-speeddial-direction-up.speeddial-left {
    left: 0;
    bottom: 0;
  }
  :host ::ng-deep .speeddial-tooltip-demo .p-speeddial-direction-up.speeddial-right {
    right: 0;
    bottom: 0;
  }
  :host ::ng-deep .speeddial-delay-demo .p-speeddial-direction-up {
    left: calc(50% - 2rem);
    bottom: 0;
  }
  :host ::ng-deep .speeddial-mask-demo .p-speeddial-direction-up {
    right: 0;
    bottom: 0;
  }
  
  :host ::ng-deep .p-speeddial-button {
    font-size: 0.75rem;
    padding: 0.5rem;
  }
  :host ::ng-deep .p-speeddial-circle {
    width: .5rem;
    height: .5rem;
  }
  :host ::ng-deep .p-speeddial-circle {
    border-radius: 50%;
  }
  :host ::ng-deep #speedDial_Circle .p-speeddial-action 
    {
 width: 35px;
 height: 35px;
  }
  :host ::ng-deep #speedDial_Circle .p-speeddial-button.p-button.p-button-icon-only{
    width: 2.5rem;
    height: 2.5rem;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: 3px;
  }
  :host ::ng-deep .p-speeddial-button.p-button.p-button-icon-only .p-button-icon{
    font-size: 13px;
  }
  /* :host ::ng-deep .p-speeddial-opened .p-speeddial-item{
    right: calc(45.282px + var(--item-diff-y, 0px));
    top: calc(40px + var(--item-diff-x, 0px));
  } */
  
  .quiz-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 2rem;
  }
  
 
  

 
  .options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  .option {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .answer {
    margin-top: 10px;
    color: #fff;
    width: 90%;
    font-size: 14px;
  }
  
  .submit-button {
    margin-top: -1rem;
    font-size: .9rem;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(50, 50, 50);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: max-content;
 
  }
  /* .next-button{
    margin-top: 20px;
    font-size: .9rem;
    padding: 5px 15px 5px 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: max-content;
  } */
  .submit-button:hover {
    background-color: #1d4e82;
  }

  .results-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .results-container h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .results-container p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  .question-header{
    color: #fff;
  }
  
  .results-container .correct-answers {
    color: green;
  }
  
  .results-container .incorrect-answers {
    color: red;
  }
  
  .results-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .percentage-container{
    color: #FFF;
    display: flex;
    justify-content: right;
  }
  .results-container button:hover {
    background-color: #3E8E41;
  }
  :host ::ng-deep .p-terminal-content-prompt {
    color: greenyellow; /* set the color of the prompt text to red */
  }
  .bodycontent{
    display: flex; 
    padding: 0rem 0rem 2rem 0rem;

  }
 
  .topic{   
    background: linear-gradient(109.6deg, rgb(35, 66, 164) 11.3%);    
    border-radius: 5rem;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  .terminal {
    --size: 1.2;
      height: 100vh;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
.leftc{
  width: 100%;
}

.quiz_button{
  display: flex;
  justify-content: center;
}
.Q_button{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.correct_wrong_images{
  width: 80px;
  height: 80px;
}
.submit-container{
  display: flex; 
  justify-content: right;
}
.timer{
  margin-top: 20px;
}
.quiz_done_btn{
  display: flex;
  justify-content: center;
}
.quiz_done_btn button{
  border: none; background-color: green
}
.speeddial-circle-demo{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.savebutton{
  padding: 8px;
  cursor: pointer;
}
.downloadicon{
  display: flex;
  justify-content: right;
  width: 100%;
}
.quiz_end_message{
  margin-top: 1.5rem;
  color: black;
  display: flex;
  justify-content: center;
}
.endquiz_donebtn{
  display: flex;
  justify-content: center;
}
.endquiz_donebtn button{
  border: none; 
  background-color: green
}
.fillups_data{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  border-style: ridge;
  padding: 1rem;
  background: rgb(208 208 208 / 44%);
}
.fillup_input{
  border-style: inset;
  border-width: 0px 0px 1px;
}
.end{
  width: 100%;
  display: flex;
  justify-content: center;
}
.practice_btn{
  display: flex; 
  justify-content: center;
  margin-top: 10px;
}



/* ------------------- */

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 10px;
  transition: transform 0.3s ease-out;
  transform: translateX(-85%);
}

.sidebar-visible {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.arrow-icon {
  cursor: pointer;
  display: flex;
}

.arrow-icon i {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-out;
}

.sidebar-visible .arrow-icon i {
  transform: rotate(0);
}

.sidebar-menu {
  margin-top: 20px;
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  cursor: pointer;
  padding: 5px;
}

.sidebar-menu li:hover {
  background-color: #ddd;
}








/*
    DEMO STYLE
*/




a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin: 10px 0px 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    color: #fff;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px 65px 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 14px;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background:  rgba(255, 255, 255, 0.2);
}

.hello{
  font-family: "Poppins" sans-serif;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
#sidebarCollapse{
  cursor: pointer;
}

ul.CTAs {
    padding: 20px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px 20px 20px 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.newcontent{
  display: flex; flex-direction: row; padding: 2rem; width: 100%;
}
.r_content{
  margin-left: 2rem; width: 100%;
}
.topic_content{
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 0rem;
    margin-left: 1rem;
    border-radius: 5px;
}
.video_content{
  width: 60%;
}
@media (max-width: 768px) {
  .topic{   
    font-size: 14px;
    font-weight:400px;
  }
    #sidebar {
        margin-left: -250px;
    }
    .sidebar-header{
      display: flex;
      justify-content: left;
    }
    #content{
      transition:  0.7s;
    }
    #sidebar{
      transition: fade 0.7s;
    }
    #sidebar.active {
      margin-left: 0;
      z-index: 1;
      position: absolute;
      height: 100%;
      max-width: 360px;
      min-width: 375px;
      background-color: #292b2cd1;
    }
    #sidebarCollapse span {
        display: none;
    }
    .r_content{
      margin-left: 0rem;
    }
    .video_content{
      width: 100%;
    }
  .newcontent{
  display: flex; 
  flex-wrap: wrap;
  padding: 0.5rem;
}
#content{
  padding: 0rem;
}
}
