<div class="body">

  <div class="data ">
    <div *ngFor="let data of availableData; let i = index;" class="loopdata">
      <div class="basiccontent ">
<div>
  <div class="wrapper">
    <!-- Sidebar  -->
    <!-- <div class="maintopiccontainer">
      <h6 class="h_content">Contents</h6>
      <div *ngFor="let data of GetcontentData; let i = index">
        <div class="contentstopic">
          <p>
            <b>{{ i + 1 }} . </b>
            <a  (click)="showContent(data)">{{ data.course_name }}</a>
          </p>
        </div>
      </div> 
    </div> -->
    <div id="sidebar" [class.active]="isSidebarActive">
      <div class="sidebar-header">
        <span (click)="toggle_Sidebarr()">
          <i class="fas fa-align-left" id="sidebarCollapse" > </i>
        </span> &nbsp; <h6>Module contents</h6>
      </div>

        <ul class="list-unstyled components" >
            <li *ngFor="let data of GetcontentData; let i = index">
                <a data-toggle="collapse" aria-expanded="false" (click)="showContent(data)" (click)="toggle_Sidebarr()"><b>{{ i + 1 }} . </b> {{ data.course_name}}</a>              
            </li>
        </ul>
      </div>

    <!-- Page Content  -->
    <div id="content">
      

        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
              <div (click)="toggleSidebarr()">
                <i class="fas fa-align-left" id="sidebarCollapse" > </i>
              </div>          
                </div>
        </nav>
 <!-- start -->

        <div class="bodycontent">
          <!-- <div class="maintopiccontainer">
            <h6 class="h_content">Contents</h6>
            <div *ngFor="let data of GetcontentData; let i = index">
              <div class="contentstopic">
                <p>
                  <b>{{ i + 1 }} . </b>
                  <a  (click)="showContent(data)">{{ data.course_name }}</a>
                </p>
              </div>
            </div> 
          </div> -->
    

        
          
          
        </div>
        <!-- end -->
       
        <!-- <div class="quiz_button">
          <div  *ngIf="understandornot">
            <div class="Q_button">
              <button class="btn btn-sm btn-primary buttons" (click)="yes()"> Go to quiz</button>
            </div>
          </div>
        </div> -->
        <!-- <footer>
          <div class="nextprevbuttons">
            <button [disabled]="!showPrevBtn" class="btn btn-sm btn-primary prev" (click)="showPrevContent(i)"
    pTooltip="{{GetcontentData[prevtopic]?.course_name}}" tooltipPosition="left"><<<</button>


            <button *ngIf="showNextBtn" class="btn btn-sm btn-primary next" pTooltip="{{GetcontentData[nexttopic]?.course_name}}" tooltipPosition="right"  (click)="showNextContent(i)"
            >  >>> </button>
            <button *ngIf="!showNextBtn" class="btn btn-sm btn-primary buttons" (click)="yes()"> Go to quiz</button>

          </div>
         </footer> -->





         <!-- example -->
         
        <div *ngIf="!selectedData">        
          <div class="topic_content" *ngFor="let data of availableData; let i = index">
            <div class="topiccontent mb-3" style="background: rgb(0, 0, 0,0.2); padding: .5rem;width: 100%;">
              <div class="text-black" style="display: flex; justify-content: center;">
                <p class="topic"><i class="fa fa-tasks" aria-hidden="true"></i>
                  Topic - {{ data.course_name }}
                </p>
              </div>
            </div>
            <div>
              <div class="newcontent">
                <div class="video_content">
                  <video #myVideo class="videos" id="myVideo" controls controlsList="nodownload">
                    <source src="../../../assets/Videos/sample.mp4" type="video/mp4">
                  </video>
                  <div class="practice_btn">
                    <button class="btn btn-sm btn-primary buttons" (click)="practicecode()">Practice Quiz</button>
                  </div>
                  <p-dialog class="dialog practice" [(visible)]="practice_test" [position]="position4" [draggable]="false" [modal]="true">
                    <p-header> Hint : {{data.hint.split(",")[index]}}</p-header>
                    <div class="mt-2" >
                      <div>
                        <span>{{data.p_question.split(",")[index]}}</span>
                      </div>
                      <br>

                     <div class="fillups_data">
                      <div>
                        <span>
                          {{ data?.sentence.split(",")[index].split('___')[0] }}
                          <input type="text"
                          [(ngModel)]="data.fillup_answer"
                          (ngModelChange)="checkAnswer(data)"
                          [maxlength]="split_answer[i]?.length"
                          [style.width.px]="calculateInputWidth(data)"
                          [style.border-width]=""
                          class="fillup_input"
                          >   
                         {{ data?.sentence?.split(",")[index].split('___')[1] }}
                        </span>
                      </div>
                     <div class="d-flex justify-content-center mt-3">
                      <p [ngClass]="{'text-success': isCorrect, 'text-danger': !isCorrect}">
                        {{ data?.message }}
                      </p>
                     </div>
                     </div>
                      <br>
                      <div class="d-flex justify-content-between">
                        <button class="btn btn-sm btn-dark" style="background-color: #105ea5;" [disabled]="currentFillupIndex === 0"
                          (click)="previousFillup(i)">Previous</button>
                        <button class="btn btn-sm btn-dark" style="background-color: #105ea5;" [disabled]="aa.length && currentFillupIndex === bb-1"
                          (click)="nextFillup(i)">Next</button>
                      </div>
                      
                    </div>
                    <!-- <div class="container mt-4 end" *ngIf="aa.length && currentFillupIndex === bb-1">
                      <span>
                        <strong>*** END ***</strong>
                      </span>
                      <br>
    
                      </div> -->
                  </p-dialog>
                </div>
                <div class="r_content">
                  <div *ngFor="let data of availableData; let i = index">
                    {{data[i]}}
        
                    <div class="question ml-5" style="color: rgb(55, 55, 55);">
                      <h4>{{ data.question }}</h4>
                    </div>
                    <div class="typing-text">
                      <p>{{ data.answer }}</p>
                    </div>
        
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
        <div *ngIf="maincontent || selectedData">        
          <div class="topic_content" *ngFor="let data of availableData; let i = index">
            <div class="topiccontent mb-3" style="background: rgb(0, 0, 0,0.2); padding: .5rem;width: 100%;">
              <div class="text-black" style="display: flex; justify-content: center;">
                <p class="topic"><i class="fa fa-tasks" aria-hidden="true"></i>
                  Topic - {{ selectedData.course_name }}
                </p>
              </div>
            </div>
            <div>
              <div class="newcontent">
                <div class="video_content">
                  <video #myVideo class="videos" id="myVideo" controls controlsList="nodownload">
                    <source src="../../../assets/Videos/sample.mp4" type="video/mp4">
                  </video>
                  <div class="practice_btn">
                    <button class="btn btn-sm btn-primary buttons" (click)="practicecode()">Practice Quiz</button>
                  </div>
                  <p-dialog class="dialog practice" [(visible)]="practice_test" [position]="position4" [draggable]="false" [modal]="true">
                    <p-header> Hint : {{selectedData.hint.split(",")[i]}}</p-header>
                    <div class="mt-2" >
                     <div class="fillups_data">
                      <div>
                        <span>
                          {{ selectedData?.sentence.split(",")[i].split('___')[0] }}
                          <input type="text"
                          [(ngModel)]="selectedData.fillup_answer"
                          (ngModelChange)="checkAnswer(selectedData)"
                          [maxlength]="split_answer[i]?.length"
                          [style.width.px]="calculateInputWidth(selectedData)"
                          class="fillup_input"
                          >   
                         {{ selectedData?.sentence?.split(",")[i].split('___')[1] }}
                        </span>
                      </div>
                     <div class="d-flex justify-content-center mt-3">
                      <p [ngClass]="{'text-success': isCorrect, 'text-danger': !isCorrect}">
                        {{ selectedData?.message }}
                      </p>
                     </div>
                     </div>
                      <br>
                      <div class="d-flex justify-content-between">
                        <button class="btn btn-primary" [disabled]="currentFillupIndex === 0"
                          (click)="previousFillup(i)">Previous</button>
                        <button class="btn btn-primary" [disabled]="aa.length && currentFillupIndex === bb-1"
                          (click)="nextFillup(i)">Next</button>
                      </div>
                      
                    </div>
                    <!-- <div class="container mt-4 end" *ngIf="aa.length && currentFillupIndex === bb-1">
                      <span>
                        <strong>*** END ***</strong>
                      </span>
                      <br>
                    
                      </div> -->
                  </p-dialog>
                </div>
                <div class="r_content">
                  <div >        
                    <div class="question ml-5" style="color: rgb(55, 55, 55);">
                      <h4>{{ selectedData.question }}</h4>
                    </div>
                    <div class="typing-text">
                      <p>{{ selectedData.answer }}</p>
                    </div>
        
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
        <footer>
          <div class="nextprevbuttons">
            <button [disabled]="!showPrevBtn" class="btn btn-sm btn-primary prev" (click)="showPrevContent(i)"
    pTooltip="{{GetcontentData[prevtopic]?.course_name}}" tooltipPosition="left"><<<</button>
  
  
            <button *ngIf="showNextBtn" class="btn btn-sm btn-primary next" pTooltip="{{GetcontentData[nexttopic]?.course_name}}" tooltipPosition="right"  (click)="showNextContent(i)"
            >  >>> </button>
            <button *ngIf="!showNextBtn" class="btn btn-sm btn-primary buttons" (click)="yes()"> Go to quiz</button>
  
          </div>
         </footer>
        
      </div>
    




         <!-- <div>
          <div style="display: flex; justify-content: space-between; width: 100%;  border-radius: 50px; padding: 1rem;">
            <button [disabled]="!showPrevBtn" class="btn btn-sm btn-primary prev" style="background: rgba(0, 0, 0, 0.1) ; border: none;  font-weight: bolder; border-radius: 50px; padding: 1rem;" (click)="showPrevContent(i)"
            > << &nbsp; Previous</button>
          <button *ngIf="showNextBtn" class="btn btn-sm btn-primary next" style="background: rgba(0, 0, 0, 0.1) ; border: none; font-weight: bolder; padding: 1rem; border-radius: 50px;" (click)="showNextContent(i)"
          >  >> &nbsp; Next</button>
          <button *ngIf="!showNextBtn" class="btn btn-sm btn-primary buttons" (click)="yes()"> Go to quiz</button>

        </div>
         </div> -->
         
         
      </div>


     


</div>
</div>
</div>
    <hr>
   
    
    <div>

      <p-dialog class="dialog quizd" [(visible)]="visible2" [style]="{width: '100vw', height: '100vh'}"
        [draggable]="false"  [closable]="false" [showHeader]="false">
        <div class="showquiz" *ngIf="showquiz">
          <div class="questions-container" #questionsContainer *ngIf="showquiz">
            <div>

              <div class="quizhead">
                <div>
                  <p>Attended Answers: {{ getAttendedAndTotalAnswers() }}</p>
                </div>

                <div>
                  <h4 class="heading4">Let's Start Quiz</h4>
                </div>
                <div *ngIf="showTimer" class="attendedanswer">
                  {{timerValue}}
                </div>

              </div>
              <hr>
              <div class="quiz-content">
                <div *ngFor="let question of quizData; let i = index">
                  <div class="questionn">
                    <div class="question-header">
                      <span class="question-number">Question {{ i + 1 }}:</span>
                      <span class="question-text">{{ question.question }}</span>
                    </div>
                    <div class="options">
                      <!-- <p>{{ question.question }}</p> -->
                      <p class="options">
                        <label>
                          <input type="radio" [name]="'question-' + i" [value]="0" (change)="onAnswerSelected(i, 0)"
                            [disabled]="selectedAnswers[i] !== 0 && selectedAnswers[i] !== undefined">
                          {{ question.option1 }}
                        </label>
                      </p>
                      <p class="options">
                        <label>
                          <input type="radio" [name]="'question-' + i" [value]="1" (change)="onAnswerSelected(i, 1)"
                            [disabled]="selectedAnswers[i] !== 1 && selectedAnswers[i] !== undefined">
                          {{ question.option2 }}
                        </label>
                      </p>
                      <p class="options" *ngIf="question.option3">
                        <label>
                          <input type="radio" [name]="'question-' + i" [value]="2" (change)="onAnswerSelected(i, 2)"
                            [disabled]="selectedAnswers[i] !== 2 && selectedAnswers[i] !== undefined">
                          {{ question.option3 }}
                        </label>
                      </p>
                      <p class="options" *ngIf="question.option4">
                        <label>
                          <input type="radio" [name]="'question-' + i" [value]="3" (change)="onAnswerSelected(i, 3)"
                            [disabled]="selectedAnswers[i] !== 3 && selectedAnswers[i] !== undefined">
                          {{ question.option4 }}
                        </label>
                      </p>
  
                      <hr>
                      <div *ngIf="selectedAnswers[i] !== undefined" class="showanswer">
                        <p
                          [ngClass]="{'correct-answer': getAnswerResult(i).isCorrect, 'wrong-answer': getAnswerResult(i).isCorrect}">
                          {{ getAnswerResult(i).message }}
                        </p>
                        <img *ngIf="getAnswerResult(i).isCorrect" src="../../../assets/Gif/smile.gif"
                          class="correct_wrong_images">
                        <img *ngIf="!getAnswerResult(i).isCorrect" src="../../../assets/Gif/oops.gif"
                          class="correct_wrong_images">
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="submit-container" *ngIf="allAnswersSelected()">
                <button class="submit-button" (click)="submitquiz()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </p-dialog>
      <p-dialog class="dialog submitdialog" [(visible)]="visible3" [draggable]="false" [closable]="false" [showHeader]="false" [modal]="true">
        <div>
          <div *ngIf="wrongAnswers.length > 0">
            <h2>Wrong Answers:</h2>
            <div *ngFor="let wrongAnswer of wrongAnswers">
              <p><b>Question: </b>{{ quizData[wrongAnswer.questionIndex].question }}</p>
              <p><b>Your answer: </b>{{ quizData[wrongAnswer.questionIndex]['option' + (wrongAnswer.selectedOptionIndex + 1)] }}</p>
              <p><b>Correct answer: </b>{{ quizData[wrongAnswer.questionIndex]['option' + (wrongAnswer.correctOptionIndex + 1)] }}</p>
              <p><b>Go and refer this Topics :</b> {{ quizData[wrongAnswer.questionIndex].course_name}}</p>
              <hr>
            </div>
          </div>
          <div *ngIf="wrongAnswers.length == 0">
            <h2>Congratulations!</h2>
            <p>You got all the answers right!</p>
          </div>
          <div class="timer">
            <p>Time taken: {{ dialogTimeTaken }} seconds</p>
          </div>
        </div>
        <hr>
        <div class="quiz_done_btn">
          <button class="btn btn-sm btn-primary" (click)="endquiz();refreshPage()"
           >Done
          </button>
        </div>
      </p-dialog>
      
    </div>
  </div>
</div>
<div>
  <div class="speeddial-circle-demo">
    <p-toast></p-toast>
    <p-speedDial id="speedDial_Circle" [model]="items" direction="down-left" type="quarter-circle"
      [style]="{'padding':'15px','margin-right':'1rem'}"></p-speedDial>
  </div>
</div>
<div class="card flex flex-column align-items-center gap-2">
  <div class="flex flex-wrap gap-2">

  </div>
  <p-dialog class="notes" [(visible)]="visible" [position]="position">
    <div>
      <div>
      <input type="text" placeholder="Title" class="notestitle" [(ngModel)]="notesdata.title" ngDefaultControl>
      </div>
      <br>
      <p-editor [(ngModel)]="notesdata.value" [style]="{ height: '320px' }">
        <ng-template pTemplate="header">
          <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button type="button" class="ql-italic" aria-label="Italic"></button>
              <button type="button" class="ql-underline" aria-label="Underline"></button>
              <select class="ql-size">
                <option value="small" ></option>
                <!-- Note a missing, thus falsy value, is used to reset to default -->
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
              </select>
              <!-- Add a bold button -->
          </span>
      </ng-template>
      </p-editor>
      <!-- <div class="notestextarea">
        <textarea rows="7" cols="75" placeholder="content" [(ngModel)]="notesdata.value" class="textarea"
          ngDefaultControl></textarea>

      </div> -->

      <div class="saverefresh">
        <div>
          <p-button (click)="onSubmit()">Add</p-button>
        </div>
        <!-- <div class="savebutton"><p><i class="fa fa-save" aria-hidden="true" (click)="refreshPage()"></i></p>
        </div> -->
      </div>
    </div>
    <div class="downloadicon" (click)="downloadPdf()">
      <span>Download notes</span> &nbsp;<i class="fa fa-download"></i>
    </div>
    <div id="notes" class="accordion mt-4" *ngFor="let item of datanotes">
      <p-accordion>
        <p-accordionTab class="mb-3">
          <p-header class="pheader">
            {{ item.title }}
          </p-header>
          <div [innerHTML]="item.content">{{ item.content}}</div>
        </p-accordionTab>
      </p-accordion>


    </div>

  </p-dialog>
  <p-dialog class="dialog" [(visible)]="visible1" [position]="position1" [draggable]="false" [modal]="true">
    <p-header> Learn Git commands</p-header>
    <p-terminal welcomeMessage="Enter commands" prompt="command $ "></p-terminal>
  </p-dialog>
  <p-dialog class="dialog" [(visible)]="compiler" [position]="position1" [draggable]="false">
    <p-header> Compiler</p-header>
    <div class="term"></div>
    <textarea class="vi" style="display: none"></textarea>
  </p-dialog>
  <p-dialog class="dialog" [(visible)]="quizended" [position]="positionquiz" [draggable]="false" [closable]="false"
    [showHeader]="false" [modal]="true">
    <p class="quiz_end_message">
      Your quiz has been ended
    </p>
    
    <ul>
      <li>Number of Attended Questions: {{ getAttendedAndTotalAnswers() }}</li>
      <!-- <li>Number of Correct Answers: {{ correctAnswers }}</li>
    <li>Number of Wrong Answers: {{ wrongAnswers }}</li> -->
    </ul>
    <div class="endquiz_donebtn">
    <button class="btn btn-sm btn-primary" (click)="endquiz();refreshPage()"
      >
      Done 
    </button>
</div>
  </p-dialog>

  <p-dialog class="dialog" [(visible)]="visiblee" [position]="positionn" [draggable]="false" [modal]="true">
    <p-header> Download Material</p-header>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">S.no</th>
          <th scope="col">Content Name</th>
          <th scope="col">Course Description</th>
          <th scope="col">Download</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Chapter 1</td>
          <td>Chapter 1</td>
          <td class="downloadicon">
            <a href="../../../assets/Files/sampledata.odt">
              <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </p-dialog>

</div>