<!DOCTYPE html>
<html>
    <body>
<div>
  <div class="navbar" style="display: flex; align-items: center; justify-content: center; gap: 20px;">
    <a class="nav-link" href="#" style="font-size: small;" routerLink="/home">Home</a>
    <a class="nav-link" href="#" style="font-size: small;">Categories</a>
    <a class="nav-link" routerLink="/courses" style="font-size: small;">Course</a>
    <a class="nav-link" routerLink="/login" style="font-size: small;">Login</a>
    <a class="nav-link" routerLink="/cart"><i class="fa fa-shopping-cart" style="font-size: medium;"></i></a>
  </div>    
</div>
<!-- <p-dropdown [options]="useroptions" [(ngModel)]="selecteduser" [style]="{'width':'150px'}" (onChange)="onchangeuser()"></p-dropdown> -->

  
    </body>
</html>