<app-navbar></app-navbar>
<!DOCTYPE html>
<html>
    <body>
<div>
<div class="maincontent">
  
  <div class="firstdiv">
    <p>Get your favourite course</p>
      <!-- <p class="text-1">"Learn without Limits"</p>
      <button pButton type="button" class="p-button-raised p-button-rounded" routerLink="/courses">Get courses</button> -->
    </div>
    <!-- <div>
      <img src="../../assets/Gif/welcome.gif">
    </div> -->
  </div>
</div>
<!-- <p-dropdown [options]="useroptions" [(ngModel)]="selecteduser" [style]="{'width':'150px'}" (onChange)="onchangeuser()"></p-dropdown> -->

  
    </body>
</html>